{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{% static 'css/main1.css' %}">
      <script src="{% static 'js/main.js' %}"></script>
      <title>
        {% block title %}
          Visitcard
        {% endblock %}
      </title>
  </head>
  <body>

    <div class="main-container">

      <div class="navbar">
        <a class="active" href="{% url "books_list_url" %}">Home</a>
        <a href="#">Main</a>
        <div class="store-button">
          <button class="dropbtn-menu" onclick="window.location.href = '{% url "categories_list_url" %}'">
            Store
          </button>
          <div class="dropdown-menu">
            {% for cat in categories %}
              <a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a>
            {% endfor %}
          </div>
        </div>
        <a href="{% url "creater_url" %}">Creater</a>
        <a href="#">Contact</a>
      </div>


      {% block content %}
        There is no any content
      {% endblock %}

    </div>


  </body>
</html>
