{% extends 'catalogue/base_catalogue.html' %}

{% block title %}
    {{ book.title }} update
{% endblock %}

{% block content %}
    <form action="{{ book.get_update_url }}" method="post">
      {% csrf_token %}
        {% for field in form %}
          {% if field.errors %}
            <script>
              alert('{{ field.errors }}')
            </script>
          {% endif %}
          <div class="">
            {{ field.label }}
          </div>

          <div class="">
            {{ field }}
          </div>
        {% endfor %}
        <button type="submit">Update book</button>
    </form>
{% endblock %}
