{% extends 'catalogue/base_catalogue.html' %}

{% block title %}
    Update - {{ category.title|title }}
{% endblock %}

{% block content %}
    <form action="{{ category.get_update_url }}" method="post">
      {% csrf_token %}
        {% for field in form %}
          {% if field.errors %}
            <script>
              alert('{{ field.errors }}')
            </script>
          {% endif %}
          <div class="">
            {{ field }}
          </div>
          
          <div class="">
            {{ field.label }}
          </div>

        {% endfor %}
        <button type="submit">Update category</button>
    </form>
{% endblock %}
