{% extends 'catalogue/base_catalogue.html' %}

{% block title %}
  Category create - {{ catalogue.super }}
{% endblock %}

{% block content %}

  <form action="{% url 'category_create_url' %}" method="post">
    {% csrf_token %}

        {% for field in form %}

            {% if field.errors %}
                <script>
                  alert('{{ field.errors }}')
                </script>
            {% endif %}

            {{ field.label }}
            {{ field }}

    {% endfor %}
    <button type="submit">Create category</button>
  </form>

{% endblock %}
