{% extends 'catalogue/base_catalogue.html' %}

{% block title %}
  Best store
{% endblock %}

{% block content %}
  {% if slug %}
    <h1 style="margin-top: 80px; text-align: center; color: #99C1B6">"{{ slug | title }}" category stores following items:</h1>
  {% else %}
    <h1 style="margin-top: 80px; text-align: center; color: #99C1B6">There is a general item list here</h1>
  {% endif %}
  <div class="catalogue-container">

      {% for book in books.object_list %}

          {% include 'catalogue/includes/book_card_template.html' %}

      {% endfor %}

  </div>
{% endblock %}
